<div id="trademarks">
  <h2 class="active">
  <a href="{% url expose:trademark category=current_category, trademark=current_trademark %}?disable">
    {{ current_trademark }}
  </a>
  </h2>
  <h2> {{ article }} </h2>
</div>