<div id="slideshow">
  <ul id="gallery">
    {% for article in articles %}
    <li>
    <img src="{{ article.random_photo.image.url }}" />
    <div class="panel-overlay">
      <h1 class="price"> Price: {{ article.price }} </h1>
      <h1><a href="{% url expose:article article=article.id %}">
        {{ article.trademark }} {{ article }}
        </a>
      </h1>
      <p> {{ article.description }} </p>
   </div>
    </li>
    {% endfor %}
  </ul>
</div>