<div id="category">
  {% for category in categories %}
  {% if current_category == category %}
  <h3 class="active">
  {% else %}
  <h3>
  {% endif %}
  <a href="{% url expose:category category=category %}">{{ category }}</a> </h3>
  {% endfor %}
  <br />
  {% if sex == 'm' %}
  <h2 class="active">
  {% else %}
  <h2>
  {% endif %}
  <a href="{% url expose:sex sex='m' %}">male</a> </h2>
  {% if sex == 'f' %}
  <h2 class="active">
  {% else %}
  <h2>
  {% endif %}
  <a href="{% url expose:sex sex='f' %}">female</a> </h2>
</div>