<div id="slideshow">
  <ul id="gallery">
    {% for photo in photos %}
    <li>
    <img src="{{ photo.image.url }}" />
    <div class="panel-overlay">
      <h1 class="price"> Price: {{ photo.article.price }} </h1>
      <h1>{{ photo.article.trademark }} {{ photo.article }}</h1>
      <p> {{ photo.article.description }} </p>
   </div>
    </li>
    {% endfor %}
  </ul>
</div>