<div id="trademarks">
{% for trademark in trademarks %}
  {% if current_trademark == trademark %}
  <h2 class="active">
   <a href="{% url expose:trademark category=current_category, trademark=trademark %}?disable">
  {% else %}
  <h2>
   <a href="{% url expose:trademark category=current_category, trademark=trademark %}">
  {% endif %}

      {{ trademark }}
    </a>
  </h2>
{% endfor %}
</div>