* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "lucida sans", verdana, arial, helvetica, sans-serif;
    font-size: 75%;
    color: #fff;
    background-color: #000;
}

h1 {
    font-size: 1.4em;
    padding: 10px 10px 0;
}

h1 a, h2 a, h3 a{
    text-decoration: none;
}

h1 a, h2 a:hover, h3 a:hover {
    color:#fff;
}

h2 a, h3 a {
    color: #7f7f7f;
}

h2 {
    font-size: 1.3em;
    padding: 10px 20px;
}

h3 {
    font-size: 1.em;
}

p {
    padding: 0 10px 1em;
}

html, body { 
    height: 100%; 
}

#container {
    min-height: 100%;
    background-color: #000;
    margin: 0 auto;
}

* html #container {
    height: 100%;
}

.panel-overlay, .overlay-background {
    display: none;
}


/* Layout */

#trademarks {
    width: 160px;
    float: left;
}

#slideshow {
    margin-left: 160px;
}

#category {
    position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
    text-align:center;
}

#category h3, #category h2{
    display: inline-block;
    padding:10px 3em;
    margin:0 auto;
}

.price {
    float: right;
}

/* Highlight */

#category h2, #category h3, #trademarks h2 {
    color:#7f7f7f;
}

#category h2:hover, #category h3:hover, #trademarks h2:hover, .active a{
    color:#ffffff;
}

