{% extends 'base.html' %}

{% block extra_head %}
<script>
  var xPos = 0;
  var yPos = 0;
  var timeout = new Date().getTime();
  $(document).ready(function(){
    $("#gallery").galleryView({
      panel_width: $("#slideshow").width(),
      panel_height: $(window).height()-$("#category").height()-120,
      frame_width: 80,
      frame_height: 40,
      border: "none",
      pause_on_hover: true,
      transition_interval: 10000,
      background_color: "black",
      nav_theme: "light",
      panel_scale: "crop",
    });
    $(".panel").hover(
      function(){
        $(this).find(".panel-overlay").fadeIn();
        $(this).find(".overlay-background").fadeIn();    
      },
      function(){
        $(this).find(".panel-overlay").fadeOut();
        $(this).find(".overlay-background").fadeOut();    
      }
    );
    /*
    $(".panel").mousemove(function(e){
      if(timeout-50 > new Date().getTime()){
        return;
      };
      xPos = e.pageX - window.galleryPos.left;
      yPos = e.pageY - window.galleryPos.top;
      if(yPos<$(this).height()/2){
        top = $(this).find("img").css("top");
        $(this).find("img").css("top", parseInt(top)+1+"px");
      };
      timeout = new Date().getTime();
    });
    */
  });

</script>
{% endblock %}

{% block content %}
  <div id="trademarks">
    <h2> adidas </h2>
    <h2 class="active"> puma </h2>
    <h2> rebook </h2>
  </div>
  
  <div id="slideshow">
  <ul id="gallery">
    <li>
      <img src="{{ MEDIA_URL }}img/1.jpg" />
      <div class="panel-overlay">
	<h1><a href="ya.ru">Купить</a></h1>
      </div>
    </li>
    <li><img src="{{ MEDIA_URL }}img/2.jpg" /></li>
    <li><img src="{{ MEDIA_URL }}img/3.jpg" /></li> 
    <li><img src="{{ MEDIA_URL }}img/4.jpg" /></li>   
  </ul>
  </div>

  <div id="category">
    <h3> shoes </h3>
    <h3> clothes </h3>
    <h3 class="active"> stubs </h3>
    <h3> swetter </h3>
    <h3> socks </h3>
    <h3> balls </h3>
    <br />
    <h2> mans</h2>
    <h2 class="active"> woman </h2>
  </div>
  
{% endblock %}