<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/galleryview/galleryview.css">
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.pngFix.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/galleryview/jquery.easing.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/galleryview/jquery.timers.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/galleryview/jquery.galleryview.js"></script>

{% block extra_head %}
{% endblock %}

</head>

<body>
<div id="container">

  <h1 id="header"><a href="/">Shop</a></h1>


  {% block content %}

  {% endblock %}

</div>
</body>
</html>
